<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/906/906334.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <title>TaskMaker | Make Your Work Easy and Mangable</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-box">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="nav-title">
                    <i class="fa fa-tasks"></i>&nbsp;TaskMaker
                </span>
            </a>
        <div class="d-flex">
            <div><i class="fa fa-bell text-warning me-4 pointer" style="font-size: 22px; padding: 10px 0"></i></div>
            <img src="https://i.pinimg.com/originals/7d/34/d9/7d34d9d53640af5cfd2614c57dfa7f13.png" width="40px" height="40px" class="rounded-circle pointer"/>
        </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <!-- Copyrights -->
        <div class="footer-box">
            <div class="container text-center">
                <p class="text-light mb-0">© 2021 SpektraSystem All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script>
        AOS.init();
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>